@model IEnumerable<ProjetoLocadoraMVC3.Models.CLIENTE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CD_CLIENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NM_CLIENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CD_SEXO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT_NASCIMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_ENDERECO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NR_ENDERECO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NM_BAIRRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DS_COMPLEMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NM_CIDADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VL_SALDO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CD_CLIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NM_CLIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CD_SEXO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT_NASCIMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_ENDERECO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NR_ENDERECO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NM_BAIRRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DS_COMPLEMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NM_CIDADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VL_SALDO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
